.card {
    border: none;
    width: 25rem;
    height: 100%;
}

.card-text h3 {
    font-family: "Asap", sans-serif;
}

.card-img-top {
    background-color: rgb(138, 228, 229);
    padding: 1em 3em;
    border-radius: 5%;
    height: 17rem;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}

.add-btn {
    position: absolute;
    top: 8%;
    left: 14%;
    transform: translate(-50%, -50%);
    animation: float 3s ease-in-out infinite;
    z-index: 1;
}

// button

.add-btn {
    z-index: 1;
}

.add-btn:hover {
    width: 150px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: #333;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: #333;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}
